@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "PTSerif-Bold";
  src: url(./assets/fonts/PTSerif-Bold.ttf);
}

@font-face {
  font-family: "PTSerif-Regular";
  src: url(./assets/fonts/PTSerif-Regular.ttf);
}

@font-face {
  font-family: "PTSans-Bold";
  src: url(./assets/fonts/PTSerif-Bold.ttf);
}

@font-face {
  font-family: "PTSans-Regular";
  src: url(./assets/fonts/PTSerif-Regular.ttf);
}

.Locator {
  position: relative;
  display: flex;
  flex: 1;
  overflow: auto;
  /* border-bottom: 1px solid theme(colors.brand-gray.300); */

  &-content {
    width: 100%;
    overflow-y: auto;

    @screen sm {
      flex-basis: 350px;
    }

    @screen md {
      flex-basis: 450px;
    }
  }

  &-map {
    flex: 1;
    height: 100%;
  }
}
